data/influxdb/*
!data/influxdb/.gitkeep
data/grafana/*
!data/grafana/.gitkeep
data/json-logging/*
!data/json-logging/.gitkeep
data/loaded-logging/*
!data/loaded-logging/.gitkeep
data/loading-error-data/*
!data/loading-error-data/.gitkeep